<div class="top-menu-wrapper">
    <div class="p-5 text-center bg-image"
        style="background-image: url('assets/menu.webp');
               height: 250px;
              "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center">
                <div class="text-white">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">RO</a>
            <button 
                class="navbar-toggler"
                type="button"
                (click)="0"
                aria-expanded="false"
                aria-label="Toggle Navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div 
                class="collapse navbar-collapse"
                id="navbarNav"
                mdCollapse
                #basicNav=""
            >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="#">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="#">Help</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex d-flex-row input-group w-auto">
                <input
                    [(ngModel)]="searchValue"
                    (input)="onSearchValueChange()"
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                />
            </div>
        </div>
    </nav>
</div>
