<div class="card-wrapper card" style="width: 18rem;">
    <div class="bg-image">
        <img src={{item.itemImageURL}} class="img-fluid"  class="card-img-top" alt="Block"/>
        <a href="#">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div>
            <h5 class="card-title">{{ item.itemName }}</h5>
            <p class="card-text">{{ item.itemDimensions }}</p>
        </div>
        
    </div>
</div>